#nav {
	padding: 0; margin: 0;
}
#nav li {
	display: inline;
	list-style: none; /* nécessaire pour IE7 */
}

:focus
{
	background-color: #77FF88;
}
input.submitable:active
{
	background-color: #999999;
}
